# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = aggregate_spider.settings

[deploy:aggregate_spider_server]
url = http://localhost:6800/

project = aggregate_spider
